body {
    font-family: Fira Sans, Verdana, Geneva, Tahoma, sans-serif
}

.page-content {
    text-align: center;
    margin-top: 50px;
}

#video-feed {
    width: 600px;
    margin-bottom: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 500px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }

@media (max-width: 600px) {
    .page-content {
        margin-top: 15px;
    }

    #video-feed {
        width: 90%;
    }

    h1 {
        font-size: 1.6rem;
    }
}
